# Runs the services needed for running the application entirely locally

services:

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    container_name: hmpps-auth
    networks:
      - hmpps
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health/ping"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
      - DELIUS_ENABLED=false
      - NOMIS_ENDPOINT_URL=http://nomis-user-roles-api:8080
      - NOMIS_ENABLED=true

  nomis-user-roles-api:
    image: quay.io/hmpps/nomis-user-roles-api:latest
    container_name: nomis-user-roles-api
    networks:
      - hmpps
    ports:
      - "8083:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_OAUTH=http://hmpps-auth:8080/auth

  manage-users-api:
    image: quay.io/hmpps/hmpps-manage-users-api:latest
    container_name: manage-users-api
    networks:
      - hmpps
    depends_on:
      - nomis-user-roles-api
      - hmpps-auth
    ports:
      - "8082:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_AUTH_ENDPOINT_URL=http://hmpps-auth:8080/auth
      - HMPPS_AUTH_EXTERNAL_ENDPOINT_URL=http://localhost:8080/auth
      - NOMIS_ENDPOINT_URL=http://nomis-user-roles-api:8080

  localstack:
    image: localstack/localstack:4
    container_name: irs-localstack
    networks:
      - hmpps
    ports:
      - "4566:4566"
      - "8999:8080"
    environment:
      - DEBUG=${DEBUG- }
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  incident-reporting-db:
    image: postgres:17
    container_name: irs-postgres
    networks:
      - hmpps
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=incident_reporting
      - POSTGRES_USER=incident_reporting
      - POSTGRES_DB=incident_reporting

  prisoner-search:
    image: wiremock/wiremock:3x
    container_name: prisoner-search
    networks:
      - hmpps
    ports:
      - "8081:8080"
    volumes:
      - ./wiremock:/home/wiremock

networks:
  hmpps:
