info.app:
  name: HMPPS Incident Reporting API
  version: 1.0

spring:
  application:
    name: hmpps-incident-reporting-api
  main:
    web-application-type: servlet

  http:
    codecs:
      max-in-memory-size: 10MB

  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: ${api.base.url.oauth}/.well-known/jwks.json
      client:
        registration:
          INCIDENT_REPORTING_API:
            provider: hmpps-auth
            client-id: ${incident_reporting.api.client.id}
            client-secret: ${incident_reporting.api.client.secret}
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${api.base.url.oauth}/oauth/token

  jackson:
    time-zone: "Europe/London"

  profiles:
    group:
      dev:
        - "localstack"
      test:
        - "stdout"
      seed:
        - "dev"
        - "seed"
  jpa:
    open-in-view: false
    show-sql: false
    generate-ddl: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/views

  datasource:
    url: 'jdbc:postgresql://${DATABASE_ENDPOINT}/${DATABASE_NAME}?sslmode=verify-full'
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      pool-name: IRS-DB-CP
      maximum-pool-size: 20
      max-lifetime: 600000
      connection-timeout: 1000
      validation-timeout: 500

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

dpr:
  lib:
    definition:
      locations: "reports/incident-report.json, reports/incident-report-pecs.json, reports/stats/dw-actions.json, reports/stats/report-return-rate.json, reports/stats/report-return-rate-per-location.json, reports/stats/review-return-rate.json, reports/stats/report-actions.json, reports/stats/report-actions-per-location.json, reports/stats/incident-reopened-count.json, reports/stats/incident-reopened-count-per-location.json, reports/stats/report-submission.json, reports/stats/response-durations.json"
    system:
      role: DPR_API_ACCESS
  report:
    views: self_harm_summary_view,serious_sexual_assault_summary_view
